        <footer class="footer">
            <div class="copyright copyright_page">
                <div class="container">
                    <p class="copyright__block">Copyright &copy; Юрий Кречик («Geguti.ru»). <span class="copyright__new-line"><a href="http://legalacts.ru/kodeks/GK-RF-chast-4/razdel-vii/" target="_blank" rel="nofollow" class="copyright__link">Все авторские права защищены</a>.</span></p>
                    <p class="copyright__block">Копирование любых материалов сайта строго запрещено <span class="copyright__info">ознакомиться с <a href="<?=HOME?>/usloviya-ispolzovaniya-sajta.html" target="_blank" rel="nofollow" class="copyright__link">Условиями использования сайта</a>.</span><p>
                    <p class="copyright__block">
                        <a href="<?=HOME?>/politika-konfidenczialnosti.html" target="_blank" rel="nofollow" class="copyright__link">Обработка персональных данных</a> / 
                        <a href="<?=HOME?>/politika-konfidenczialnosti.html" target="_blank" rel="nofollow" class="copyright__link">Политика конфиденциальности</a>
                    </p>
                </div>
            </div>            
        </footer>
        <div class="overlay"></div>
        <script src="<?=HOME?>/templates/js/jquery.min.js"></script>
        <script src="<?=HOME?>/templates/js/jquery.maskedinput.js"></script>
        <script src="<?=HOME?>/templates/js/jquery.bxslider.min.js"></script>
        <script src="<?=HOME?>/templates/js/page.js"></script>
    </body>
</html>